<footer class="footer p-3 mt-5" style="background-color: rgb(166, 155, 197);">  	
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 offset-1 col-sm-3">
                <h3 class="font-weight-bold">Site Map</h3>
                <ul class="list-unstyled">
                    <li><a class="text-white btn" href="/"><h5>Home</h5></a></li>
                    <li><a class="text-white btn" href="event"><h5>About Me</h5></a></li>
                    <!-- <li><a class="text-white" href="projects">Projects</a></li> -->
                    <li><a class="text-white btn" href="contact"><h5>Contact</h5></a></li>
                </ul>
            </div>
            <div class="col-7 col-sm-4">
                <h3 class="font-weight-bold">Contact Info</h3>
                <h5 class="text-white">Email: mayanksingh@iiitg.ac.in</h5>
                <h5 class="text-white">Phone: +919651032034</h5>
                
            </div>
            <div class="col-12 col-sm-4 align-self-center align-items-center">
                <div class="text-center">
                    <h3 class="font-weight-bold">Social Handle</h3>
                    <a class="btn" href="https://www.linkedin.com/in/mayank-singh-3a6379128/" target="_blank"><h5 class="text-white">LinkedIn</h5></a>

                    <a class="btn" href="https://github.com/ms1835" target="_blank"><h5 class="text-white">Github</h5></a>
                </div>
                
            </div>
        </div>
        
    </div>
</footer>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/public/js/script.js"></script>
    </body>
</html>