<%- include('./partials/header') -%>

<div class="container">
    <div class="my-5">
        <p style="font-size: 25px;"><b>Hello, I am Mayank Singh. I am from Uttar Pradesh India. 
            I am currently a CSE undergrad from Indian Institute of Information Technology
            Guwahati. I am a web developer and looking for opportunities to 
            showcase my skills and contribute towards open source community.
            Although I have not had a computer background but I always have been fascinated 
            by the idea of how an individual can innovate and produce so much with 
            just a piece of code. Now I am living upto my dreams. I also love solving 
            programming problems and always try to explore different ways to solve 
            daily life problems.</b>
        </p>
    </div>
    <div class="border border-dark row my-5 p-4 bg-dark">
        <div class="col-12 ml-5 mb-4">
            <h2 class="font-weight-bold text-white">EDUCATION</h2>
        </div>
        <div class="col-3"><h3 class="btn btn-lg btn-success disabled">High School</h3></div>
        <div class="col-8"><h3 class="btn btn-lg btn-info disabled">Sacred Heart School</h3></div>
        <div class="col-3"><h3 class="btn btn-lg btn-success disabled">Intermediate</h3></div>
        <div class="col-8"><h3 class="btn btn-lg btn-info disabled">City Montessori School</h3></div>
        <div class="col-3"><h3 class="btn btn-lg btn-success disabled">College</h3></div>
        <div class="col-8"><h3 class="btn btn-lg btn-info disabled">Indian Institute of Information Technology Guwahati</h3></div>
    </div>

    <div class="border border-dark row my-5 p-4 bg-dark">
        <div class="col-12 ml-5 mb-4">
            <h2 class="font-weight-bold text-white">Skills</h2>
        </div>
        <div class="col-3"><h3 class="btn btn-lg btn-success disabled">Frontend</h3></div>
        <div class="col-8"><h3 class="btn btn-lg btn-info disabled">HTML CSS Bootstrap</h3></div>
        <div class="col-3"><h3 class="btn btn-lg btn-success disabled">Backend</h3></div>
        <div class="col-8"><h3 class="btn btn-lg btn-info disabled">NodeJs Express</h3></div>
        <div class="col-3"><h3 class="btn btn-lg btn-success disabled">Database</h3></div>
        <div class="col-8"><h3 class="btn btn-lg btn-info disabled">MySQL MongoDB</h3></div>
        <div class="col-3"><h3 class="btn btn-lg btn-success disabled">Tools</h3></div>
        <div class="col-8"><h3 class="btn btn-lg btn-info disabled">Git Sublime VSCode</h3></div>
        <div class="col-3"><h3 class="btn btn-lg btn-success disabled">Languages</h3></div>
        <div class="col-8"><h3 class="btn btn-lg btn-info disabled">C C++ Java Python Javascript</h3></div>
    </div>

    <div class="border border-dark row my-5 p-4 bg-dark">
        <div class="col-12 ml-5 mb-4">
            <h2 class="font-weight-bold text-white">CourseWork</h2>
        </div>
        <div class="col-8"><h3 class="btn btn-lg btn-info disabled">Data Structures</h3></div>
        <div class="col-8"><h3 class="btn btn-lg btn-info disabled">Discrete Mathematics</h3></div>
        <div class="col-8"><h3 class="btn btn-lg btn-info disabled">Artificial Intelligence</h3></div>
        <div class="col-8"><h3 class="btn btn-lg btn-info disabled">Computer Organisation</h3></div>
        <div class="col-8"><h3 class="btn btn-lg btn-info disabled">Operating Systems</h3></div>
        <div class="col-8"><h3 class="btn btn-lg btn-info disabled">Object Oriented Programming</h3></div>
    </div>
</div>

<%- include('./partials/footer') -%>